.DS_Store
tsconfig.tsbuildinfo
yarn-error.log
node_modules/
/packages/*/*.mjs
/packages/*/*.js
/packages/*/*.ts
/packages/*/*/
!/packages/*/src/
!/packages/*/bin/
!/packages/*/jest.config.js
/.cache/
/.test/
/packages/*/.cache/
/coverage/